.allButtons{
    width:960px;
    margin-top:100px;

    margin:60px auto;
}

.btns{
    margin-right:50px;
    width:100px;
    height:50px;

}

#answer{
    width:560px;
    height: 30px;
    border:1px solid grey;
    display:block;
    margin-top:20px;
    text-align:center;

}

.half{
    width:48%;
}

.left{
    float:left;
}

#roomDiv{
    float:right;
    display: none;
}

.hideJoin
{
    display: none;
}

#availableRoomsDiv ul
{
    display:none;

}