
<!--<div class="allButtons">

    <button class="btns" id="Bcreate" name="joinr">create game</button>
    <input type="text" id="roomn" name="roomn"/>
    <button class="btns" id="mtoroom" name="joinr2">join game</button>
    <button class="btns" id="testb" name="joinr3">test</button>

    <span id = "answer"></span>
    <span id = "status"></span>
</div>

<hr/>-->
<div class="left half">

    <span>Room Name:</span>
    <input type="text" id="roomNameInput"/>
    <button class="btns" id="createRoom">Create Room</button>
    <br/><br/>

    <div class="hideJoin">
        <span>Room Id:</span>
        <input type="text" id="roomIdInput"/>
        <button class="btns" id="joinRoomButton">Join Room</button>
    </div>

    <div id="availableRoomsDiv">
        <div><strong>Available Rooms:</strong></div>
        <ul></ul>
    </div>

</div>


<div id="roomDiv" class="right half">
    <div>
        You are in room <strong id="roomNameStrong"></strong> <a href="#" id="leaveRoomButton">Leave this room</a>
    </div>

    <input type="text" id="messageInput"/> <button class="btns" id="sendMessage">Send</button>
    <ul></ul>
</div>